@import "base";


.container
{
	@include zen-grid-container;
}

.logo
{
	@include zen-grid-item(12, 1);
	@include zen-clear();
}

.socialLinks
{
	@include zen-clear();
	@include zen-grid-item(12,1);
}
.nestedContainer
{
	@inclue zen-clear();
	@include zen-grid-item(12, 1);
	@include zen-nested-container();
}

.topnav
{
	@include zen-clear();
	@include zen-grid-item(12,1);
}

@media only screen and (min-width: 700px)
{

	.logo
	{
		@include zen-grid-item(6,1);
	}

	.nestedContainer
	{
		@include zen-grid-item(6,7);
		@include zen-nested-container();
	}

	.socialLinks
	{
		@include zen-grid-item(12, 1);
	}

	.topnav
	{
		@include zen-clear();
		@include zen-grid-item(12, 1);
	}
}

.container
{
	@include centered;
	width: 100%;
}



.logo
{
	h1
	{
		color: $mainColor;
		// -webkit-mask-image: url(../img/texture.png);
  //       -o-mask-image: url(../img/texture.png);
  //       -moz-mask-image: url(../img/texture.png);
  //       -ms-mask-image: url(../img/texture.png);
  //       mask-image: url(../img/texture.png);

		span
		{
			font-family: "icomoon";
			@include transition-duration(.5s);
			&:hover
			{
				@include text-shadow(rgba(#0b58fe, 1) 0px 0px 15px, rgba(#083aa4, 1) 0px 0px 10px, rgba(#072057, 1) 0px 0px 5px);
			}
		}
	}
}

h1
{

	font-family: "icomoon";
}

.socialLinks
{
	margin-top: .5em;
	text-align: right;
	ul
	{
		li
		{
			display: inline-block;
			a
			{
				font-family: "icomoon";
				text-decoration: none;
			}
		}
	}
}

/* navigation bar */
.topnav
{
	margin-top: .75em;
	text-align: right;
	font-size: 1.5em;
	ul
	{
		li
		{
			display: inline-block;
			&:after
			{
				color: $linkColor;
				font-family: "orator-std", sans-serif;
				content: '>';
			}
			&:last-child:after
			{
				content: '';
			}
			a
			{
				padding-right: 5px;
				font-family: "orator-std", sans-serif;
				text-decoration: none;
			}
		}

	}

	#navbtn
	{
		display: none;
	}
}

