@import "base";

#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}


.mainContent
{
	@include zen-grid-container;
}

.servicesContainer
{
	@include zen-grid-item(8,1);
	@include zen-nested-container();
}

.socialMedia
{
	@include zen-grid-item(4, 1);
	@include serviceBorder(0px, 5px, 5px, 0px);
}

.webWork
{
	@include zen-grid-item(4, 5);
	@include serviceBorder(0px, 5px, 5px, 5px);
}

.software
{
	@include zen-grid-item(4, 9);
	@include serviceBorder(0px, 0px, 5px, 5px);
}

.video
{
	@include zen-clear();
	@include zen-grid-item(4, 1);
	@include serviceBorder(5px, 5px, 0px, 0px);
}

.print
{
	@include zen-grid-item(4, 5);
	@include serviceBorder(5px, 5px, 0px, 5px);
}

.consulting
{
	@include zen-grid-item(4, 9);
	@include serviceBorder(5px, 0px, 0px, 5px);
}

.blogPost
{
	@include zen-grid-item(4, 9);
}

#mainContent
{
	@include centered;
	width: 100%;
}

.service
{
	@include transition-duration(.5s);
	h2
	{
		margin-bottom: .5em;
		font-family: "lexia",serif;
		color: $mainColor;
		font-size: 1.5em;
		text-align: center;
		@include clearfix;
		clear: both;
	}
	p
	{
		font-family: "lexia",serif;
		color: $mainColor;
	}
	img
	{
		@include transition-duration(.5s);
		float: left;
		@include opacity(.7);
		&:hover
		{
			@include opacity(1);
		}
	}


	&:hover
	{
		background-color: lighten($mainColor, 30%);
	}
}